body {
    background: #fcf9e8
}

header {    
    background: #f2c2e5;
    border: 5px solid pink;   
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fd33a2 #000 #d706bf;
  border-radius: 6px;
  background: linear-gradient(to right, #f30fa7, #d90fe0);
  transition: 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: linear-gradient(to right, #704461, #784e7a);
}

.button.header-active {
  background: linear-gradient(#704862, #774a78) #e3167c;
  color: #fcf9e8;
}

ul li {
  display:inline-block;
}

header img {
  width: 100px;
  height: 100px;
}

.img_cake {
  width: 350px;
  height: 450px;  
}

.pagination a {
  background-color: pink;
  color: #fd33a2;
}

.pagination a:hover {
  background-color: #ff69b4;
  color: #fcf9e8;
  border-color: #a7077c;
}

.page-item.active .page-link {
  background-color: #e3167c;
  color: #fcf9e8;
  border-color: #d706bf;
}

.page-item.active .page-link:focus {
  box-shadow: 0 0 0 3px #ff69b4;
}

.pagination a:focus {
  box-shadow: 0 0 0 3px #ff69b4;
}

