{% extends "base.html" %}
{% load static %}
{% block title %}
  Торты. Торт {{ cake.title|lower }}
{% endblock %}
{% block content %}
  <h1>{{ cake.title }}</h1>  
  <div>
    <div>
      <h2>Описание</h2>
      <p>{{ cake.description }}</p> 
      <h4>
        <span>{{ cake.category.title }}</span><br>
        <span>{{ cake.price }}<a> руб</a></span><br>
        <span>Вес: {{ cake.weight }} г.</span>
      </h4>
      Украшения:
      <ul>
        {% for decoration in cake.decorations.all %}
          <li>- {{ decoration.title }}</li>
        {% endfor %}        
      </ul>
    </div>
  </div>     
{% endblock %}