{% extends "base.html" %}
{% load static %}
{% block title %}
  Kate's Cakes | {{ cake.title }}
{% endblock %}
{% block content %}
  <div class="cake-detail-container">
    <div class="cake-detail-image"> 
      {% if cake.images.all %}
        <img class="img_cake_detail" src="{{ cake.images.all.0.image.url }}" alt="{{ cake.title }}">
      {% endif %}
    </div>
    <div class="cake-detail-info">
      <h3>{{ cake.title }}</h3>
      <h5>{{ cake.price }}<a> р.</a></h5>
      <p><b>{{ cake.description }}</b></p>
      <div class="cake-detail-properties">
        <p><b>Состав: </b>{{ cake.composition }}</p>
        <p><b>Вес: </b>{{ cake.weight }} г.</p>
      </div>
    </div>
  </div>
{% endblock %}