{% load static %}
<div>
    <div>
      <div>           
        <h5>{{ cake.title }} </h5>
        {% if cake.images.all %}
          <ul>
            {% for image in cake.images.all %}
              <li>
                <img class="img_cake" src="{{ image.image.url }}" alt="{{ image.title }}">
              </li>
            {% endfor %}
            </ul>
        {% endif %} 
        <p>{{ cake.price }}<a> руб</a></p>
        <p>Вес: {{ cake.weight }} г</p>
        <p>{{ cake.description|truncatechars:40 }}</p>
        <a href="{% url 'cake:cake_detail' cake.id %}">
          Подробнее -->
        </a>
      </div>
    </div>
  </div>
