{% load static %}
<header>
  <div>
    {% with request.resolver_match.view_name as view_name %}            
    <ul>
      <a href="{% url 'homepage:index' %}"><img src="{% static 'img/logo.png' %}"></a>
      <li>
        <a
          class="button {% if view_name == 'homepage:index' %} header-active {% endif %}" 
          href="{% url 'homepage:index' %}"
          >
          Главная 
        </a>
      </li>
      <li>
        <a 
          class="button {% if view_name == 'about:description' %} header-active {% endif %}"
          href="{% url 'about:description' %}"
        >
          О проекте
        </a>
      </li>
    </ul>
    {% endwith %}
  </div>
</header>
